<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Bathroom Control & Monitoring</title>
  <link rel="stylesheet" href="styles.css">
</head>
<body>
  <h1>Bathroom Condition</h1>
  <div class="select-container">
    <label for="select-container">Choose Device</label>
    <select name="device" id="selectDevice">
      <option value="1" id="kintamani">Kintamani</option>
      <option value="2" id="kuta">Kuta</option>
      <option value="3" id="lembongan">Lembongan</option>
    </select>
  </div>
  <div id="lampControl">
    <p>Time</p>
    <p id="currentTime"></p>
    <p>Lamp State<span id="currentLampState"></span></p>
    <p>Last Updated<span id="lampStateTime"></span></p>
    <p>Full Control</p>
    <span class="toggle-switch">
      <span class="on-text">ON</span>
      <span class="off-text">OFF</span>
      <span class="toggle-knob"></span>
    </span>
    <div class="onOffButton">
      <button id="lampOn">Turn on Lamp</button>
      <button id="lampOff">Turn off Lamp</button>
    </div>
    <button id="logs">Logs</button>
    <div id="popup" class="popup">
      <h3>Bathroom lamp state history :</h3>
      <p>total : <span id="totalLampState"></span></p>
      <table id="lampStates"></table>
      <div class="button-group">
        <button id="prevPage">Previous</button>
        <button id="closePopup">Close</button>
        <button id="nextPage">Next</button>
      </div>
    </div>  
  </div>
  <script src="/socket.io/socket.io.js"></script>
  <script src="scripts.js"></script>
</body>
</html>
