<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Bathroom Control & Monitoring</title>
  <link rel="stylesheet" href="styles.css">
</head>
<body>
  <h1>Bathroom Condition</h1>  
  <div id="lampControl">
    <p>Time : <span id="currentTime"></span></p>
    <p>Lamp State : <span id="lampState">OFF</span></p>
    <div class="onOffButton">
      <button id="lampOn">Turn on Lamp</button>
      <button id="lampOff">Turn off Lamp</button>
    </div>
    <button id="logs">Logs</button>
    <div id="popup" class="popup">
      <p>Bathroom lamp state history viewed in logs :</p>
      <p>14.15 : Lamp On</p>
      <p>14.30 : Lamp Off</p>
      <p>15.45 : Lamp On</p>
      <button id="closePopup">Close</button>
  </div>
  </div>

  <script>
    const currentTime = document.getElementById('currentTime')
    const buttonOn = document.getElementById('lampOn')
    const buttonOff = document.getElementById('lampOff')
    const lampStatus = document.getElementById('lampState')
    const logs = document.getElementById('logs');
    const popup = document.getElementById('popup');
    const closePopup = document.getElementById('closePopup');

    function updateCurrentTime() {
      const now = new Date();
      const hours = String(now.getHours()).padStart(2, '0');
      const minutes = String(now.getMinutes()).padStart(2, '0');
      const seconds = String(now.getSeconds()).padStart(2, '0');
      const currentTimeString = `${hours}:${minutes}:${seconds}`;
      currentTime.textContent = currentTimeString;
    }

    updateCurrentTime();

    setInterval(updateCurrentTime, 1000);

    buttonOn.addEventListener('click', () => {
      lampStatus.textContent = "ON"
    })

    buttonOff.addEventListener('click', () => {
      lampStatus.textContent = "OFF"
    })

    logs.addEventListener('click', () => {
    popup.style.display = 'block';
    });

    closePopup.addEventListener('click', () => {
        popup.style.display = 'none';
    });
  </script>
</body>
</html>