<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Bathroom Control & Monitoring</title>
  <link rel="stylesheet" href="styles.css">
</head>
<body>
  <h1>Bathroom Condition</h1>  
  <div id="lampControl">
    <p>Time : <span id="currentTime"></span></p>
    <p>Lamp State : <span id="lampState">OFF</span></p>
    <div class="onOffButton">
      <button id="lampOn">Turn on Lamp</button>
      <button id="lampOff">Turn off Lamp</button>
    </div>
    <button id="logs">Logs</button>
    <div id="popup" class="popup">
      <p>Bathroom lamp state history viewed in logs :</p>
      <p>14.15 : Lamp On</p>
      <p>14.30 : Lamp Off</p>
      <p>15.45 : Lamp On</p>
      <button id="closePopup">Close</button>
  </div>
  </div>

  <script src="scripts.js"></script>
</body>
</html>